#tabel1{
    border: 1px red solid;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    margin:0 0 0 37%;
}
#tabel1 tr td, #tabel1 tr th{
    border: 1px blue double;
    padding: 15px;
}
#tabel1 tr th{
    color: red;
    background-color: rgba(0, 0, 0, 0.700);
}
#tabel1 tbody tr:nth-child(2n){
    background-color: rgb(235, 198, 153);
}
#tabel1 tbody tr:nth-child(2n+1){
    background-color: rgb(113, 232, 232);
}
#tabel1 tfoot tr{
    background-color: blueviolet;
    color: #ffffff;
}
h1{
    text-align: center;
}